.tos-container{
  margin-top: 80px;
  display: grid;
  gap: 40px;
  padding: 32px 60px;
}

.tos-section{
  display: grid;
  gap: 16px;
}

.tos-section p{
  text-align: left;
  line-height: 24px;
  max-width: fit-content;
}

.tos-section h1{
  text-align: left;
}

.table-container {
  overflow-x: auto; 
}

.tos-section h2{
  font-size: 28px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #408cfe16;
}

th, td {
  padding: 15px;
  text-align: left;
  color: white;
  border: none;
}

td{
    border-bottom: 1px solid #40fefec5;
  border-right: 1px solid #40fefec5;
  border-left: 1px solid #40fefec5;
}

th {
  background-color: #40fefec5;
  font-weight: bold;
  color: white;
}