
.contact-hero  {
  position: relative;
  margin-top: 80px;
  text-align: center;
  padding: 160px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin: 80px 0;
}

.on{
  width: 340px;
  height: 340px;
  transform: translate(20%, -25%);
}

.tw{
  width: 340px;
  height: 340px;
  transform: translate(-20%, 25%);
}

.contact-options{
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 80px;
  gap: 60px;
}

.contact-options p{
  padding: 0 32px 0 0;
}

label{
  font-size: 20px;
  color: #ffffff;
}

.form-container{
  border: 1px solid #333333;
  border-radius: 20px;
  padding: 20px 32px 0 32px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  background-color: #124a9d13;
  margin: 0 32px;
}

.icon svg{
  fill: none;
}

small{
  transform: translateY(-30px);
}

#contact-form{
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 32px;
}

.form-container h2{
  text-align: left;
}

.form-container p{
  text-align: left;
  padding: 0;
}

input{
  margin-top: 10px;
  background-color: #40fefe15;
  height: 40px;
  width: 100%;
  border:1px solid #333333;
  border-radius: 8px;
  padding: 10px;
  transition: all 0.2s ease;
  color: #b1b1b1;
  font-size: 20px;
}

.form-group{
  text-align: left;
}

.form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border-radius: 2px;
  border:1px solid #333333;
  resize: none;
  margin-top: 10px;
  background-color: #40fefe15;
  height: 120px;
  box-sizing: border-box;
  border-radius: 8px;
  color: #b1b1b1;
}

.form-group textarea:focus{
  outline: none;
  border-color: #40FEFE;
}

input:focus{
  outline: none;
  border-color: #40FEFE;
}

button{
  background: linear-gradient(90deg,#48bcd6,#46d3e6);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  padding: 10px 0;
}

.contact-details{
  padding: 0 32px;
  display: grid;
  gap: 40px;
}

.contact-header{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-header h2{
  text-align: left;
}

.contact-header p{
  text-align: left;
}

.contact-info{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info-option{
  display: grid;
  grid-template-columns: 40px 1fr;
  justify-content:start;
  gap: 20px;
  padding: 20px;
  border: 1px solid #333333;
  border-radius: 10px;
  background-color: #124a9d05;
}

.info-option p{
  text-align: left;
  padding: 0;
  font-size: 15px;
}

.color-text{
  color: #40FEFE;
}

.info-details{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hours{
  background-color: #40fefe15;
}

.business-hours{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hours-container{
  display: flex;
  justify-content: start;
  gap: 28px;
}

.hours-container-day p{
  font-size: 14px;
  display: block;
  gap: 10px;
}

.hours-container-day{
  display: grid;
  gap: 10px;
}

.hours-container-time {
  display: grid;
  gap: 10px;
}

.hours-container-time p{
  font-size: 14px;
}

.satime{
  margin-top: 10px;
  border-top: 1px solid #333333;
  padding-top: 10px;
}

.satime p{
  font-size: 12px;
}
