
.service-hero{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  overflow: hidden;
  margin: 80px 0;
  padding: 240px 0;
  opacity: 1;
}

.service-hero p{
  margin: 0 20px;
  max-width: 560px;
}

 ul {
  padding-left: 20px;
}

.process{
  max-width: 500px;
}

.process::before{
  content: "";
  position: absolute;
  left: -30px;
  top: 40px;
  width: 2px;
  height: 80%;
  background: linear-gradient(180deg, #40FEFE, #000000);
}

.process::after {
  content: "";
  position: absolute;
  left: -36.5px;
  top: 20px;
  width: 14px;
  height: 14px;
  background: #40FEFE;
  border-radius: 50%;
  box-shadow: 0 0 10px #40FEFE;
}

.features svg{
  fill: none;
  height: 24px;
  width: 24px;
}

.features{
  display: flex;
  gap: 20px;
  align-items: center;
}

.h33{
  color: #40FEFE;
}

 li{
  color: #ACACAC;
}

 li::marker{
  color: #40FEFE;
}

small{
  font-size: 12px;
  margin: 20px 0;
}

.deliverables{
  display: grid;
  gap: 10px;
}

.our-process{
  margin-top: 80px;
}

