.about-container{
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;
  align-items: center;
  padding: 100px 32px 200px 32px;
}

h2{
  color: white;
  font-weight: 600;
}

.about-container p{
  max-width: 640px;
  text-align: center;
  color: #ACACAC;
}

.about-container span{
  color: #40FEFE;
}

/* Start state (before it scrolls into view) */
.reveal {
  opacity: 0;
  transform: translatey(30px);
  transition: opacity 1000ms ease, transform 1000ms ease;
  will-change: opacity, transform;
}

/* End state (when visible) */
.reveal.is-visible {
  opacity: 1;
  transform: translateY(0);
}

@media (min-width:1024px) {
  .about-container p{
  max-width: 900px;
  }
}



