.about-container{
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 200px;
}

h2{
  color: white;
  font-size: 30px;
  font-weight: 600;
}

.about-container p{
  font-size: 14px;
  max-width: 350px;
  text-align: center;
  color: #ACACAC;
}

.about-container span{
  color: #40FEFE;
}

.service p{
  font-size: 12px;
}
