.about-container{
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 200px;
}

h2{
  color: white;
  font-size: 30px;
  font-weight: 600;
}

.about-container p{
  font-size: 16px;
  max-width: 350px;
  text-align: center;
  color: #ACACAC;
}

.about-container span{
  color: #40FEFE;
}

/* Start state (before it scrolls into view) */
.reveal {
  opacity: 0;
  transform: translatex(-30px);
  transition: opacity 1000ms ease, transform 1000ms ease;
  will-change: opacity, transform;
}

/* End state (when visible) */
.reveal.is-visible {
  opacity: 1;
  transform: translateY(0);
}
