.reason .icon {
  height: 40px;
  width: 40px;
}

.choose-us{
  padding: 40px;
  text-align: center;
  display: grid;
  gap: 60px;
}

.reason{
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  justify-content: center;
}

.reason p{
  max-width: 260px;
}