.footer{
  border-top: 0.2px solid #acacac2b;
  padding: 40px 40px 20px 40px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.links{
  display: grid;
  gap: 25px;
  text-align: left;
}

.links p{
  font-size: 14px;
  text-align: left;
  padding-right: 20px;
}

.socials{
  display: flex;
  gap: 15px;
}

.socials svg{
  height: 30px;
  width: 30px;
}

.quick-links{
  display: grid;
  gap: 20px;
}

.navigation{
  display: grid;
  gap:20px;
  font-size: 12px;
}

.navigation a{
    text-decoration: none;
    color: white;
    font-weight: 300;
}

.contact{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact p {
  text-decoration: none;
}

.op{
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}

.copy{
  display: grid;
  gap: 10px;
  border-top: 0.2px solid #acacac2b;
  padding-top: 10px;
}

.copy p{
  color: #636363;
  font-size: 10px;
  text-align: left;
}
