.our-process{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 40px;
  position: relative;
  padding-bottom: 200px;
}

.header-process{
  display: grid;
  flex-direction: column;
  gap: 20px;
}

.header-process p{
  max-width: 260px;
}

.process{
  padding: 20px;
  width: 240px;
  height: 220px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #333333;
  border-radius: 10px;
  background-color: #124a9d13;
  position: relative;
  z-index: 1;
  justify-content: center;
}

.process h3{
  font-size: 22px;
}

.process p{
  text-align: left;
  font-size: 16px;
}

.num{
  font-size: 48px;
  color: #40FEFE;
  font-weight: 500;
}

.timeline {
  position: absolute;
  left: 50%;
  top: 194px;
  bottom: 200px;
  width: 1px;

  display: block;
  height: 1046px;
  background-color: #40fefe32;
}

.process::before{
  content: "";
  position: absolute;
  top: 60px;              /* aligns with your number */
  left: 50%;
  width: 6px;
  height: 6px;
  background: #40FEFE;
  border-radius: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.three{
  transform: translateY(-100%);
}

.four{
  transform: translateY(0%);
}

.five{
  transform: translateY(100%);
}


